### NOMIS API Data Extract for Historic Census Data.

The NOMIS RESTful API limits the size of the 'queries / calls' you can request.
For example, you cannot request all of the geography codes in a single call, the site will time-out or error due to the number of data items. Additionally each call is limited to a maximum of 25k records; hence the need for a few nested programming loops etc. etc. etc.

***Here are is a useful reading resource:***
https://www.nomisweb.co.uk/api/v01/help

***Here is the target data Darren Barnes has requested:***

"*Had a chat with census team this morning and this is the dataset they would like us to test out
Its a 2011 census table LC3409EW >> https://www.nomisweb.co.uk/census/2011/lc3409ew and includes General Health, Tenure and Age, covers England and Wales, and goes down to OA level.
obviously its available through the NOMIS API and i would like us to suck that into COGS rather than download and transform. The census team have had some very good feedback from Ahmed on the data viz and sparql and i think this has generated some buzz within the census senior management team. So the idea is to load this data into COGS and have Ahmed do a data viz on it and compare that with the CMD.
We have looked at NOMIS API already and i would like us to give consideration on what and when we could get this loaded into COGS."*

**OA**: Census **O**utput **A**reas.

In [ ]:
# Components & Libraries:
import pandas as pd
import json

pd.set_option('display.max_colwidth', -1)

In [126]:
# NOMIS RESTful: Get ID for Dataset from NOMIS Data Families:

# Get Family List:
baseURL_ID = 'https://www.nomisweb.co.uk/api/v01/dataset/def.sdmx.json'
df_ID = pd.read_json(baseURL_ID)
display(df_ID)

i = 0
while True:
    str_df_ID = str(df_ID.structure[2]['keyfamily'][i]['name']['value'])
    if 'General health by tenure by age' in str_df_ID:
        print(str_df_ID + ' -- ID: ' + str(df_ID.structure[2]['keyfamily'][i]['id']))
        str_dataset_id = str(df_ID.structure[2]['keyfamily'][i]['id'])
    i += 1

                                                        structure
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'none', 'prepared': '2020-07-30T13:52:1...
keyfamilies     {'keyfamily': [{'agencyid': 'NOMIS', 'annotati...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

LC3409EW - General health by tenure by age -- ID: NM_1404_1

IndexError: list index out of range

In [182]:
# NOMIS RESTful: Get Parent Level Geography for Dataset:

# Get Geography sets using our ID:
baseURL_Geography = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '/geography.def.sdmx.json'
df_Geography = pd.read_json(baseURL_Geography)
display(df_Geography)

i = 0
while True:
    str_df_Geog_ID = str(df_Geography.structure[0]['codelist'][0]['code'][i]['description'])
    if ('England' in str_df_Geog_ID): # Dodgy code - would pick up 'England and Wales' for example!
        print(str_df_Geog_ID + ' -- ID: ' + str(df_Geography.structure[0]['codelist'][0]['code'][i]['value']))
        str_df_Geog_ID_England = str(df_Geography.structure[0]['codelist'][0]['code'][i]['value'])
    if 'Wales' in str_df_Geog_ID:
        print(str_df_Geog_ID + ' -- ID: ' + str(df_Geography.structure[0]['codelist'][0]['code'][i]['value']))
        str_df_Geog_ID_Wales = str(df_Geography.structure[0]['codelist'][0]['code'][i]['value'])
    i += 1

                                                        structure
codelists       {'codelist': [{'agencyid': 'NOMIS', 'id': 'CL_...
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'NM_1404_1', 'prepared': '2020-07-30T15...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

{'value': 'England and Wales', 'lang': 'en'} -- ID: 2092957703
{'value': 'England and Wales', 'lang': 'en'} -- ID: 2092957703
{'value': 'England', 'lang': 'en'} -- ID: 2092957699
{'value': 'Wales', 'lang': 'en'} -- ID: 2092957700

IndexError: list index out of range

In [222]:
# NOMIS RESTful: Get Hierarchical Geography for Dataset using Parent Geography IDs:

# Get Geography sets using Parent Level Geography IDs for WALES:
baseURL_Geography_Wales = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '/geography/' + str_df_Geog_ID_Wales + '.def.sdmx.json'
df_Geography_Wales = pd.read_json(baseURL_Geography_Wales)
display(df_Geography_Wales)

i = 0
while True:
    str_df_Geog_L1_ID = str(df_Geography_Wales.structure[0]['codelist'][0]['code'][i]['description'])
    if '2011 output areas within Wales' in str_df_Geog_L1_ID:
        print(str_df_Geog_L1_ID + ' -- ID: ' + str(df_Geography_Wales.structure[0]['codelist'][0]['code'][i]['value']))
        str_df_Geog_L1_ID_Wales = str(df_Geography_Wales.structure[0]['codelist'][0]['code'][i]['value'])
    i += 1

                                                        structure
codelists       {'codelist': [{'agencyid': 'NOMIS', 'id': 'CL_...
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'NM_1404_1', 'prepared': '2020-07-30T16...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

{'value': '2011 output areas within Wales', 'lang': 'en'} -- ID: 2092957700TYPE299

IndexError: list index out of range

In [225]:
# NOMIS RESTful: Get Hierarchical Geography for Dataset using Parent Geography IDs:

# Get Geography sets using Parent Level Geography IDs for England:
baseURL_Geography_England = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '/geography/' + str_df_Geog_ID_England + '.def.sdmx.json'
df_Geography_England = pd.read_json(baseURL_Geography_England)
display(df_Geography_England)

i = 0
while True:
    str_df_Geog_L1_ID = str(df_Geography_England.structure[0]['codelist'][0]['code'][i]['description'])
    if '2011 output areas within England' in str_df_Geog_L1_ID:
        print(str_df_Geog_L1_ID + ' -- ID: ' + str(df_Geography_England.structure[0]['codelist'][0]['code'][i]['value']))
        str_df_Geog_L1_ID_England = str(df_Geography_England.structure[0]['codelist'][0]['code'][i]['value'])
    i += 1

                                                        structure
codelists       {'codelist': [{'agencyid': 'NOMIS', 'id': 'CL_...
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'NM_1404_1', 'prepared': '2020-07-30T16...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

{'value': '2011 output areas within England', 'lang': 'en'} -- ID: 2092957699TYPE299

IndexError: list index out of range

In [247]:
# NOMIS RESTful: Get Level 2 Geography Codes for Dataset using Level 1 Geography IDs:

# Get Geography sets using Level 1 Geography IDs for WALES:
baseURL_Geography_Wales_L1 = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '/geography/' + str_df_Geog_L1_ID_Wales + '.def.sdmx.json'
df_Geography_Wales_L2 = pd.read_json(baseURL_Geography_Wales_L1)
display(df_Geography_Wales_L2)

i = 0
str_df_Geog_L2_ID_Wales_LowerRange = 'W99999999999999999'
str_df_Geog_L2_ID_Wales_HigherRange = ''
while True:
    str_df_Geog_L2_ID = str(df_Geography_Wales_L2.structure[0]['codelist'][0]['code'][i]['description']['value'])
    if str_df_Geog_L2_ID < str_df_Geog_L2_ID_Wales_LowerRange:
        str_df_Geog_L2_ID_Wales_LowerRange = str_df_Geog_L2_ID
    if str_df_Geog_L2_ID > str_df_Geog_L2_ID_Wales_HigherRange:
        str_df_Geog_L2_ID_Wales_HigherRange = str_df_Geog_L2_ID       
    i += 1

                                                        structure
codelists       {'codelist': [{'agencyid': 'NOMIS', 'id': 'CL_...
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'NM_1404_1', 'prepared': '2020-07-30T16...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

IndexError: list index out of range

In [250]:
# NOMIS RESTful: Get Level 2 Geography Codes for Dataset using Level 1 Geography IDs:

# Get Geography sets using Level 1 Geography IDs for ENGLAND:
baseURL_Geography_England_L1 = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '/geography/' + str_df_Geog_L1_ID_England + '.def.sdmx.json'
df_Geography_England_L2 = pd.read_json(baseURL_Geography_England_L1)
display(df_Geography_England_L2)

i = 0
str_df_Geog_L2_ID_England_LowerRange = 'E99999999999999999'
str_df_Geog_L2_ID_England_HigherRange = ''
while True:
    str_df_Geog_L2_ID = str(df_Geography_England_L2.structure[0]['codelist'][0]['code'][i]['description']['value'])
    if str_df_Geog_L2_ID < str_df_Geog_L2_ID_England_LowerRange:
        str_df_Geog_L2_ID_England_LowerRange = str_df_Geog_L2_ID
    if str_df_Geog_L2_ID > str_df_Geog_L2_ID_England_HigherRange:
        str_df_Geog_L2_ID_England_HigherRange = str_df_Geog_L2_ID       
    i += 1

                                                        structure
codelists       {'codelist': [{'agencyid': 'NOMIS', 'id': 'CL_...
common          http://www.SDMX.org/resources/SDMXML/schemas/v...
header          {'id': 'NM_1404_1', 'prepared': '2020-07-30T16...
schemalocation           http://sdmx.org/docs/2_0/SDMXMessage.xsd
structure       http://www.SDMX.org/resources/SDMXML/schemas/v...
xmlns           http://www.SDMX.org/resources/SDMXML/schemas/v...
xsi                     http://www.w3.org/2001/XMLSchema-instance

IndexError: list index out of range

In [251]:
print(str_df_Geog_L2_ID_Wales_LowerRange)
print(str_df_Geog_L2_ID_Wales_HigherRange)
print(str_df_Geog_L2_ID_England_LowerRange)
print(str_df_Geog_L2_ID_England_HigherRange)

W00000001
W00010265
E00000001
E00176774

In [254]:
# NOMIS RESTful: Get Tabular Data using Level 2 Geography Code IDs:

# Get Data for WALES:
baseURL_Geography_Wales_Data = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '.data.csv?date=latest&geography=' + str_df_Geog_L2_ID_Wales_LowerRange + '...' + str_df_Geog_L2_ID_Wales_HigherRange + '&c_tenhuk11=2,3,5,6&c_age=1...4&c_health=1...3&measures=20100&select=date_name,geography_name,geography_code,c_tenhuk11_name,c_age_name,c_health_name,measures_name,obs_value,obs_status_name,record_offset,record_count'

additionalURL = ''
intRecordController = 0
final_df_wales = pd.DataFrame()

# The links below are limited to the first 25,000 cells per call.
while True:
    additionalURL = '&RecordOffset=' + str(intRecordController)
    concatenatedURL = baseURL_Geography_Wales_Data + additionalURL
    dataframe = pd.read_csv(concatenatedURL)
    if (dataframe.empty):
        break
    
    #display(dataframe)
    frames = [final_df_wales, dataframe]
    final_df_wales = pd.concat(frames)
    intRecordController = intRecordController + 25000
    
display(final_df_wales)

,DATE_NAME,GEOGRAPHY_NAME,GEOGRAPHY_CODE,C_TENHUK11_NAME,C_AGE_NAME,C_HEALTH_NAME,MEASURES_NAME,OBS_VALUE,OBS_STATUS_NAME,RECORD_OFFSET,RECORD_COUNT
0,2011,W00000001,W00000001,Owned: Owned outright,Age 0 to 15,Very good or good health,Value,9,Normal Value,0,481728
1,2011,W00000001,W00000001,Owned: Owned outright,Age 0 to 15,Fair health,Value,0,Normal Value,1,481728
2,2011,W00000001,W00000001,Owned: Owned outright,Age 0 to 15,Bad or very bad health,Value,1,Normal Value,2,481728
3,2011,W00000001,W00000001,Owned: Owned outright,Age 16 to 49,Very good or good health,Value,21,Normal Value,3,481728
4,2011,W00000001,W00000001,Owned: Owned outright,Age 16 to 49,Fair health,Value,3,Normal Value,4,481728
5,2011,W00000001,W00000001,Owned: Owned outright,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,5,481728
6,2011,W00000001,W00000001,Owned: Owned outright,Age 50 to 64,Very good or good health,Value,30,Normal Value,6,481728
7,2011,W00000001,W00000001,Owned: Owned outright,Age 50 to 64,Fair health,Value,4,Normal Value,7,481728
8,2011,W00000001,W00000001,Owned: Owned outright,Age 50 to 64,Bad or very bad health,Value,1,Normal Value,8,481728
9,2011,W00000001,W00000001,Owned: Owned outright,Age 65 and over,Very good or good health,Value,28,Normal Value,9,481728
10,2011,W00000001,W00000001,Owned: Owned outright,Age 65 and over,Fair health,Value,23,Normal Value,10,481728
11,2011,W00000001,W00000001,Owned: Owned outright,Age 65 and over,Bad or very bad health,Value,8,Normal Value,11,481728
12,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Very good or good health,Value,15,Normal Value,12,481728
13,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Fair health,Value,0,Normal Value,13,481728
14,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,14,481728
15,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Very good or good health,Value,31,Normal Value,15,481728
16,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Fair health,Value,2,Normal Value,16,481728
17,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Bad or very bad health,Value,1,Normal Value,17,481728
18,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Very good or good health,Value,13,Normal Value,18,481728
19,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Fair health,Value,0,Normal Value,19,481728
20,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Bad or very bad health,Value,1,Normal Value,20,481728
21,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Very good or good health,Value,3,Normal Value,21,481728
22,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Fair health,Value,1,Normal Value,22,481728
23,2011,W00000001,W00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Bad or very bad health,Value,0,Normal Value,23,481728
24,2011,W00000001,W00000001,Rented: Social rented,Age 0 to 15,Very good or good health,Value,1,Normal Value,24,481728
25,2011,W00000001,W00000001,Rented: Social rented,Age 0 to 15,Fair health,Value,0,Normal Value,25,481728
26,2011,W00000001,W00000001,Rented: Social rented,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,26,481728
27,2011,W00000001,W00000001,Rented: Social rented,Age 16 to 49,Very good or good health,Value,5,Normal Value,27,481728
28,2011,W00000001,W00000001,Rented: Social rented,Age 16 to 49,Fair health,Value,0,Normal Value,28,481728
29,2011,W00000001,W00000001,Rented: Social rented,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,29,481728
...,...,...,...,...,...,...,...,...,...,...,...
6698,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Very good or good health,Value,0,Normal Value,481698,481728
6699,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Fair health,Value,0,Normal Value,481699,481728
6700,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Bad or very bad health,Value,1,Normal Value,481700,481728
6701,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Very good or good health,Value,0,Normal Value,481701,481728
6702,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Fair health,Value,0,Normal Value,481702,481728
6703,2011,W00010265,W00010265,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Bad or very bad health,Value,1,Normal Value,481703,481728
6704,2011,W00010265,W00010265,Rented: Social rented,Age 0 to 15,Very good or good health,Value,2,Normal Value,481704,481728
6705,2011,W00010265,W00010265,Rented: Social rented,Age 0 to 15,Fair health,Value,0,Normal Value,481705,481728
6706,2011,W00010265,W00010265,Rented: Social rented,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,481706,481728
6707,2011,W00010265,W00010265,Rented: Social rented,Age 16 to 49,Very good or good health,Value,6,Normal Value,481707,481728
6708,2011,W00010265,W00010265,Rented: Social rented,Age 16 to 49,Fair health,Value,2,Normal Value,481708,481728
6709,2011,W00010265,W00010265,Rented: Social rented,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,481709,481728
6710,2011,W00010265,W00010265,Rented: Social rented,Age 50 to 64,Very good or good health,Value,0,Normal Value,481710,481728
6711,2011,W00010265,W00010265,Rented: Social rented,Age 50 to 64,Fair health,Value,0,Normal Value,481711,481728
6712,2011,W00010265,W00010265,Rented: Social rented,Age 50 to 64,Bad or very bad health,Value,3,Normal Value,481712,481728
6713,2011,W00010265,W00010265,Rented: Social rented,Age 65 and over,Very good or good health,Value,12,Normal Value,481713,481728
6714,2011,W00010265,W00010265,Rented: Social rented,Age 65 and over,Fair health,Value,25,Normal Value,481714,481728
6715,2011,W00010265,W00010265,Rented: Social rented,Age 65 and over,Bad or very bad health,Value,14,Normal Value,481715,481728
6716,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 0 to 15,Very good or good health,Value,0,Normal Value,481716,481728
6717,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 0 to 15,Fair health,Value,1,Normal Value,481717,481728
6718,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,481718,481728
6719,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 16 to 49,Very good or good health,Value,62,Normal Value,481719,481728
6720,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 16 to 49,Fair health,Value,0,Normal Value,481720,481728
6721,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,481721,481728
6722,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 50 to 64,Very good or good health,Value,1,Normal Value,481722,481728
6723,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 50 to 64,Fair health,Value,0,Normal Value,481723,481728
6724,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 50 to 64,Bad or very bad health,Value,0,Normal Value,481724,481728
6725,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 65 and over,Very good or good health,Value,0,Normal Value,481725,481728
6726,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 65 and over,Fair health,Value,0,Normal Value,481726,481728
6727,2011,W00010265,W00010265,Rented: Private rented or living rent free,Age 65 and over,Bad or very bad health,Value,0,Normal Value,481727,481728

In [270]:
# NOMIS RESTful: Get Tabular Data using Level 2 Geography Code IDs:

# Get Data for ENGLAND:
baseURL_Geography_England_Data = 'https://www.nomisweb.co.uk/api/v01/dataset/' + str_dataset_id + '.data.csv?date=latest&geography=' + str_df_Geog_L2_ID_England_LowerRange + '...' + str_df_Geog_L2_ID_England_HigherRange + '&c_tenhuk11=2,3,5,6&c_age=1...4&c_health=1...3&measures=20100&select=date_name,geography_name,geography_code,c_tenhuk11_name,c_age_name,c_health_name,measures_name,obs_value,obs_status_name,record_offset,record_count'

additionalURL = ''
intRecordController = 0
final_df_england = pd.DataFrame()

# The links below are limited to the first 25,000 cells per call.
while True:
    additionalURL = '&RecordOffset=' + str(intRecordController)
    concatenatedURL = baseURL_Geography_England_Data + additionalURL
    dataframe = pd.read_csv(concatenatedURL)
    if (dataframe.empty):
        break
    
    #display(dataframe)
    # Additional code for England due to large datasets:
    # For a very basic progress monitor (no fancy code this time round):
    print("Just received record:" + (dataframe.tail(1).RECORD_OFFSET.to_string(index=False)) + ' of ' + (dataframe.tail(1).RECORD_COUNT.to_string(index=False)) + ' >>> ' + str(round((int(dataframe.tail(1).RECORD_OFFSET.to_string(index=False)) / int(dataframe.tail(1).RECORD_COUNT.to_string(index=False)) * 100),2)) + '%...')
    frames = [final_df_england, dataframe]
    final_df_england = pd.concat(frames)
    intRecordController = intRecordController + 25000
    
display(final_df_england)

Just received record: 24999 of  8225856 >>> 0.3%...
Just received record: 49999 of  8225856 >>> 0.61%...
Just received record: 74999 of  8225856 >>> 0.91%...
Just received record: 99999 of  8225856 >>> 1.22%...
Just received record: 124999 of  8225856 >>> 1.52%...
Just received record: 149999 of  8225856 >>> 1.82%...
Just received record: 174999 of  8225856 >>> 2.13%...
Just received record: 199999 of  8225856 >>> 2.43%...
Just received record: 224999 of  8225856 >>> 2.74%...
Just received record: 249999 of  8225856 >>> 3.04%...
Just received record: 274999 of  8225856 >>> 3.34%...
Just received record: 299999 of  8225856 >>> 3.65%...
Just received record: 324999 of  8225856 >>> 3.95%...
Just received record: 349999 of  8225856 >>> 4.25%...
Just received record: 374999 of  8225856 >>> 4.56%...
Just received record: 399999 of  8225856 >>> 4.86%...
Just received record: 424999 of  8225856 >>> 5.17%...
Just received record: 449999 of  8225856 >>> 5.47%...
Just received record: 474999 of  8225856 >>> 5.77%...
Just received record: 499999 of  8225856 >>> 6.08%...
Just received record: 524999 of  8225856 >>> 6.38%...
Just received record: 549999 of  8225856 >>> 6.69%...
Just received record: 574999 of  8225856 >>> 6.99%...
Just received record: 599999 of  8225856 >>> 7.29%...
Just received record: 624999 of  8225856 >>> 7.6%...
Just received record: 649999 of  8225856 >>> 7.9%...
Just received record: 674999 of  8225856 >>> 8.21%...
Just received record: 699999 of  8225856 >>> 8.51%...
Just received record: 724999 of  8225856 >>> 8.81%...
Just received record: 749999 of  8225856 >>> 9.12%...
Just received record: 774999 of  8225856 >>> 9.42%...
Just received record: 799999 of  8225856 >>> 9.73%...
Just received record: 824999 of  8225856 >>> 10.03%...
Just received record: 849999 of  8225856 >>> 10.33%...
Just received record: 874999 of  8225856 >>> 10.64%...
Just received record: 899999 of  8225856 >>> 10.94%...
Just received record: 924999 of  8225856 >>> 11.25%...
Just received record: 949999 of  8225856 >>> 11.55%...
Just received record: 974999 of  8225856 >>> 11.85%...
Just received record: 999999 of  8225856 >>> 12.16%...
Just received record: 1024999 of  8225856 >>> 12.46%...
Just received record: 1049999 of  8225856 >>> 12.76%...
Just received record: 1074999 of  8225856 >>> 13.07%...
Just received record: 1099999 of  8225856 >>> 13.37%...
Just received record: 1124999 of  8225856 >>> 13.68%...
Just received record: 1149999 of  8225856 >>> 13.98%...
Just received record: 1174999 of  8225856 >>> 14.28%...
Just received record: 1199999 of  8225856 >>> 14.59%...
Just received record: 1224999 of  8225856 >>> 14.89%...
Just received record: 1249999 of  8225856 >>> 15.2%...
Just received record: 1274999 of  8225856 >>> 15.5%...
Just received record: 1299999 of  8225856 >>> 15.8%...
Just received record: 1324999 of  8225856 >>> 16.11%...
Just received record: 1349999 of  8225856 >>> 16.41%...
Just received record: 1374999 of  8225856 >>> 16.72%...
Just received record: 1399999 of  8225856 >>> 17.02%...
Just received record: 1424999 of  8225856 >>> 17.32%...
Just received record: 1449999 of  8225856 >>> 17.63%...
Just received record: 1474999 of  8225856 >>> 17.93%...
Just received record: 1499999 of  8225856 >>> 18.24%...
Just received record: 1524999 of  8225856 >>> 18.54%...
Just received record: 1549999 of  8225856 >>> 18.84%...
Just received record: 1574999 of  8225856 >>> 19.15%...
Just received record: 1599999 of  8225856 >>> 19.45%...
Just received record: 1624999 of  8225856 >>> 19.75%...
Just received record: 1649999 of  8225856 >>> 20.06%...
Just received record: 1674999 of  8225856 >>> 20.36%...
Just received record: 1699999 of  8225856 >>> 20.67%...
Just received record: 1724999 of  8225856 >>> 20.97%...
Just received record: 1749999 of  8225856 >>> 21.27%...
Just received record: 1774999 of  8225856 >>> 21.58%...
Just received record: 1799999 of  8225856 >>> 21.88%...
Just received record: 1824999 of  8225856 >>> 22.19%...
Just received record: 1849999 of  8225856 >>> 22.49%...
Just received record: 1874999 of  8225856 >>> 22.79%...
Just received record: 1899999 of  8225856 >>> 23.1%...
Just received record: 1924999 of  8225856 >>> 23.4%...
Just received record: 1949999 of  8225856 >>> 23.71%...
Just received record: 1974999 of  8225856 >>> 24.01%...
Just received record: 1999999 of  8225856 >>> 24.31%...
Just received record: 2024999 of  8225856 >>> 24.62%...
Just received record: 2049999 of  8225856 >>> 24.92%...
Just received record: 2074999 of  8225856 >>> 25.23%...
Just received record: 2099999 of  8225856 >>> 25.53%...
Just received record: 2124999 of  8225856 >>> 25.83%...
Just received record: 2149999 of  8225856 >>> 26.14%...
Just received record: 2174999 of  8225856 >>> 26.44%...
Just received record: 2199999 of  8225856 >>> 26.74%...
Just received record: 2224999 of  8225856 >>> 27.05%...
Just received record: 2249999 of  8225856 >>> 27.35%...
Just received record: 2274999 of  8225856 >>> 27.66%...
Just received record: 2299999 of  8225856 >>> 27.96%...
Just received record: 2324999 of  8225856 >>> 28.26%...
Just received record: 2349999 of  8225856 >>> 28.57%...
Just received record: 2374999 of  8225856 >>> 28.87%...
Just received record: 2399999 of  8225856 >>> 29.18%...
Just received record: 2424999 of  8225856 >>> 29.48%...
Just received record: 2449999 of  8225856 >>> 29.78%...
Just received record: 2474999 of  8225856 >>> 30.09%...
Just received record: 2499999 of  8225856 >>> 30.39%...
Just received record: 2524999 of  8225856 >>> 30.7%...
Just received record: 2549999 of  8225856 >>> 31.0%...
Just received record: 2574999 of  8225856 >>> 31.3%...
Just received record: 2599999 of  8225856 >>> 31.61%...
Just received record: 2624999 of  8225856 >>> 31.91%...
Just received record: 2649999 of  8225856 >>> 32.22%...
Just received record: 2674999 of  8225856 >>> 32.52%...
Just received record: 2699999 of  8225856 >>> 32.82%...
Just received record: 2724999 of  8225856 >>> 33.13%...
Just received record: 2749999 of  8225856 >>> 33.43%...
Just received record: 2774999 of  8225856 >>> 33.74%...
Just received record: 2799999 of  8225856 >>> 34.04%...
Just received record: 2824999 of  8225856 >>> 34.34%...
Just received record: 2849999 of  8225856 >>> 34.65%...
Just received record: 2874999 of  8225856 >>> 34.95%...
Just received record: 2899999 of  8225856 >>> 35.25%...
Just received record: 2924999 of  8225856 >>> 35.56%...
Just received record: 2949999 of  8225856 >>> 35.86%...
Just received record: 2974999 of  8225856 >>> 36.17%...
Just received record: 2999999 of  8225856 >>> 36.47%...
Just received record: 3024999 of  8225856 >>> 36.77%...
Just received record: 3049999 of  8225856 >>> 37.08%...
Just received record: 3074999 of  8225856 >>> 37.38%...
Just received record: 3099999 of  8225856 >>> 37.69%...
Just received record: 3124999 of  8225856 >>> 37.99%...
Just received record: 3149999 of  8225856 >>> 38.29%...
Just received record: 3174999 of  8225856 >>> 38.6%...
Just received record: 3199999 of  8225856 >>> 38.9%...
Just received record: 3224999 of  8225856 >>> 39.21%...
Just received record: 3249999 of  8225856 >>> 39.51%...
Just received record: 3274999 of  8225856 >>> 39.81%...
Just received record: 3299999 of  8225856 >>> 40.12%...
Just received record: 3324999 of  8225856 >>> 40.42%...
Just received record: 3349999 of  8225856 >>> 40.73%...
Just received record: 3374999 of  8225856 >>> 41.03%...
Just received record: 3399999 of  8225856 >>> 41.33%...
Just received record: 3424999 of  8225856 >>> 41.64%...
Just received record: 3449999 of  8225856 >>> 41.94%...
Just received record: 3474999 of  8225856 >>> 42.24%...
Just received record: 3499999 of  8225856 >>> 42.55%...
Just received record: 3524999 of  8225856 >>> 42.85%...
Just received record: 3549999 of  8225856 >>> 43.16%...
Just received record: 3574999 of  8225856 >>> 43.46%...
Just received record: 3599999 of  8225856 >>> 43.76%...
Just received record: 3624999 of  8225856 >>> 44.07%...
Just received record: 3649999 of  8225856 >>> 44.37%...
Just received record: 3674999 of  8225856 >>> 44.68%...
Just received record: 3699999 of  8225856 >>> 44.98%...

Just received record: 3724999 of  8225856 >>> 45.28%...
Just received record: 3749999 of  8225856 >>> 45.59%...
Just received record: 3774999 of  8225856 >>> 45.89%...
Just received record: 3799999 of  8225856 >>> 46.2%...
Just received record: 3824999 of  8225856 >>> 46.5%...
Just received record: 3849999 of  8225856 >>> 46.8%...
Just received record: 3874999 of  8225856 >>> 47.11%...
Just received record: 3899999 of  8225856 >>> 47.41%...
Just received record: 3924999 of  8225856 >>> 47.72%...
Just received record: 3949999 of  8225856 >>> 48.02%...
Just received record: 3974999 of  8225856 >>> 48.32%...
Just received record: 3999999 of  8225856 >>> 48.63%...
Just received record: 4024999 of  8225856 >>> 48.93%...
Just received record: 4049999 of  8225856 >>> 49.23%...
Just received record: 4074999 of  8225856 >>> 49.54%...
Just received record: 4099999 of  8225856 >>> 49.84%...
Just received record: 4124999 of  8225856 >>> 50.15%...
Just received record: 4149999 of  8225856 >>> 50.45%...
Just received record: 4174999 of  8225856 >>> 50.75%...
Just received record: 4199999 of  8225856 >>> 51.06%...
Just received record: 4224999 of  8225856 >>> 51.36%...
Just received record: 4249999 of  8225856 >>> 51.67%...
Just received record: 4274999 of  8225856 >>> 51.97%...
Just received record: 4299999 of  8225856 >>> 52.27%...
Just received record: 4324999 of  8225856 >>> 52.58%...
Just received record: 4349999 of  8225856 >>> 52.88%...
Just received record: 4374999 of  8225856 >>> 53.19%...
Just received record: 4399999 of  8225856 >>> 53.49%...
Just received record: 4424999 of  8225856 >>> 53.79%...
Just received record: 4449999 of  8225856 >>> 54.1%...
Just received record: 4474999 of  8225856 >>> 54.4%...
Just received record: 4499999 of  8225856 >>> 54.71%...
Just received record: 4524999 of  8225856 >>> 55.01%...
Just received record: 4549999 of  8225856 >>> 55.31%...
Just received record: 4574999 of  8225856 >>> 55.62%...
Just received record: 4599999 of  8225856 >>> 55.92%...
Just received record: 4624999 of  8225856 >>> 56.23%...
Just received record: 4649999 of  8225856 >>> 56.53%...
Just received record: 4674999 of  8225856 >>> 56.83%...
Just received record: 4699999 of  8225856 >>> 57.14%...
Just received record: 4724999 of  8225856 >>> 57.44%...
Just received record: 4749999 of  8225856 >>> 57.74%...
Just received record: 4774999 of  8225856 >>> 58.05%...
Just received record: 4799999 of  8225856 >>> 58.35%...
Just received record: 4824999 of  8225856 >>> 58.66%...
Just received record: 4849999 of  8225856 >>> 58.96%...
Just received record: 4874999 of  8225856 >>> 59.26%...
Just received record: 4899999 of  8225856 >>> 59.57%...
Just received record: 4924999 of  8225856 >>> 59.87%...
Just received record: 4949999 of  8225856 >>> 60.18%...
Just received record: 4974999 of  8225856 >>> 60.48%...
Just received record: 4999999 of  8225856 >>> 60.78%...
Just received record: 5024999 of  8225856 >>> 61.09%...
Just received record: 5049999 of  8225856 >>> 61.39%...
Just received record: 5074999 of  8225856 >>> 61.7%...
Just received record: 5099999 of  8225856 >>> 62.0%...
Just received record: 5124999 of  8225856 >>> 62.3%...
Just received record: 5149999 of  8225856 >>> 62.61%...
Just received record: 5174999 of  8225856 >>> 62.91%...
Just received record: 5199999 of  8225856 >>> 63.22%...
Just received record: 5224999 of  8225856 >>> 63.52%...
Just received record: 5249999 of  8225856 >>> 63.82%...
Just received record: 5274999 of  8225856 >>> 64.13%...
Just received record: 5299999 of  8225856 >>> 64.43%...
Just received record: 5324999 of  8225856 >>> 64.73%...
Just received record: 5349999 of  8225856 >>> 65.04%...
Just received record: 5374999 of  8225856 >>> 65.34%...
Just received record: 5399999 of  8225856 >>> 65.65%...
Just received record: 5424999 of  8225856 >>> 65.95%...
Just received record: 5449999 of  8225856 >>> 66.25%...
Just received record: 5474999 of  8225856 >>> 66.56%...
Just received record: 5499999 of  8225856 >>> 66.86%...
Just received record: 5524999 of  8225856 >>> 67.17%...
Just received record: 5549999 of  8225856 >>> 67.47%...
Just received record: 5574999 of  8225856 >>> 67.77%...
Just received record: 5599999 of  8225856 >>> 68.08%...
Just received record: 5624999 of  8225856 >>> 68.38%...
Just received record: 5649999 of  8225856 >>> 68.69%...
Just received record: 5674999 of  8225856 >>> 68.99%...
Just received record: 5699999 of  8225856 >>> 69.29%...
Just received record: 5724999 of  8225856 >>> 69.6%...
Just received record: 5749999 of  8225856 >>> 69.9%...
Just received record: 5774999 of  8225856 >>> 70.21%...
Just received record: 5799999 of  8225856 >>> 70.51%...
Just received record: 5824999 of  8225856 >>> 70.81%...
Just received record: 5849999 of  8225856 >>> 71.12%...
Just received record: 5874999 of  8225856 >>> 71.42%...
Just received record: 5899999 of  8225856 >>> 71.73%...
Just received record: 5924999 of  8225856 >>> 72.03%...
Just received record: 5949999 of  8225856 >>> 72.33%...
Just received record: 5974999 of  8225856 >>> 72.64%...
Just received record: 5999999 of  8225856 >>> 72.94%...
Just received record: 6024999 of  8225856 >>> 73.24%...
Just received record: 6049999 of  8225856 >>> 73.55%...
Just received record: 6074999 of  8225856 >>> 73.85%...
Just received record: 6099999 of  8225856 >>> 74.16%...
Just received record: 6124999 of  8225856 >>> 74.46%...
Just received record: 6149999 of  8225856 >>> 74.76%...
Just received record: 6174999 of  8225856 >>> 75.07%...
Just received record: 6199999 of  8225856 >>> 75.37%...
Just received record: 6224999 of  8225856 >>> 75.68%...
Just received record: 6249999 of  8225856 >>> 75.98%...
Just received record: 6274999 of  8225856 >>> 76.28%...
Just received record: 6299999 of  8225856 >>> 76.59%...
Just received record: 6324999 of  8225856 >>> 76.89%...
Just received record: 6349999 of  8225856 >>> 77.2%...
Just received record: 6374999 of  8225856 >>> 77.5%...
Just received record: 6399999 of  8225856 >>> 77.8%...
Just received record: 6424999 of  8225856 >>> 78.11%...
Just received record: 6449999 of  8225856 >>> 78.41%...
Just received record: 6474999 of  8225856 >>> 78.72%...
Just received record: 6499999 of  8225856 >>> 79.02%...
Just received record: 6524999 of  8225856 >>> 79.32%...
Just received record: 6549999 of  8225856 >>> 79.63%...
Just received record: 6574999 of  8225856 >>> 79.93%...
Just received record: 6599999 of  8225856 >>> 80.23%...
Just received record: 6624999 of  8225856 >>> 80.54%...
Just received record: 6649999 of  8225856 >>> 80.84%...
Just received record: 6674999 of  8225856 >>> 81.15%...
Just received record: 6699999 of  8225856 >>> 81.45%...
Just received record: 6724999 of  8225856 >>> 81.75%...
Just received record: 6749999 of  8225856 >>> 82.06%...
Just received record: 6774999 of  8225856 >>> 82.36%...
Just received record: 6799999 of  8225856 >>> 82.67%...
Just received record: 6824999 of  8225856 >>> 82.97%...
Just received record: 6849999 of  8225856 >>> 83.27%...
Just received record: 6874999 of  8225856 >>> 83.58%...
Just received record: 6899999 of  8225856 >>> 83.88%...
Just received record: 6924999 of  8225856 >>> 84.19%...
Just received record: 6949999 of  8225856 >>> 84.49%...
Just received record: 6974999 of  8225856 >>> 84.79%...
Just received record: 6999999 of  8225856 >>> 85.1%...
Just received record: 7024999 of  8225856 >>> 85.4%...
Just received record: 7049999 of  8225856 >>> 85.71%...
Just received record: 7074999 of  8225856 >>> 86.01%...
Just received record: 7099999 of  8225856 >>> 86.31%...
Just received record: 7124999 of  8225856 >>> 86.62%...
Just received record: 7149999 of  8225856 >>> 86.92%...
Just received record: 7174999 of  8225856 >>> 87.22%...
Just received record: 7199999 of  8225856 >>> 87.53%...
Just received record: 7224999 of  8225856 >>> 87.83%...
Just received record: 7249999 of  8225856 >>> 88.14%...
Just received record: 7274999 of  8225856 >>> 88.44%...
Just received record: 7299999 of  8225856 >>> 88.74%...
Just received record: 7324999 of  8225856 >>> 89.05%...
Just received record: 7349999 of  8225856 >>> 89.35%...
Just received record: 7374999 of  8225856 >>> 89.66%...

Just received record: 7399999 of  8225856 >>> 89.96%...
Just received record: 7424999 of  8225856 >>> 90.26%...
Just received record: 7449999 of  8225856 >>> 90.57%...
Just received record: 7474999 of  8225856 >>> 90.87%...
Just received record: 7499999 of  8225856 >>> 91.18%...
Just received record: 7524999 of  8225856 >>> 91.48%...
Just received record: 7549999 of  8225856 >>> 91.78%...
Just received record: 7574999 of  8225856 >>> 92.09%...
Just received record: 7599999 of  8225856 >>> 92.39%...
Just received record: 7624999 of  8225856 >>> 92.7%...
Just received record: 7649999 of  8225856 >>> 93.0%...
Just received record: 7674999 of  8225856 >>> 93.3%...
Just received record: 7699999 of  8225856 >>> 93.61%...
Just received record: 7724999 of  8225856 >>> 93.91%...
Just received record: 7749999 of  8225856 >>> 94.22%...
Just received record: 7774999 of  8225856 >>> 94.52%...
Just received record: 7799999 of  8225856 >>> 94.82%...
Just received record: 7824999 of  8225856 >>> 95.13%...
Just received record: 7849999 of  8225856 >>> 95.43%...
Just received record: 7874999 of  8225856 >>> 95.73%...
Just received record: 7899999 of  8225856 >>> 96.04%...
Just received record: 7924999 of  8225856 >>> 96.34%...
Just received record: 7949999 of  8225856 >>> 96.65%...
Just received record: 7974999 of  8225856 >>> 96.95%...
Just received record: 7999999 of  8225856 >>> 97.25%...
Just received record: 8024999 of  8225856 >>> 97.56%...
Just received record: 8049999 of  8225856 >>> 97.86%...
Just received record: 8074999 of  8225856 >>> 98.17%...
Just received record: 8099999 of  8225856 >>> 98.47%...
Just received record: 8124999 of  8225856 >>> 98.77%...
Just received record: 8149999 of  8225856 >>> 99.08%...
Just received record: 8174999 of  8225856 >>> 99.38%...
Just received record: 8199999 of  8225856 >>> 99.69%...
Just received record: 8224999 of  8225856 >>> 99.99%...
Just received record: 8225855 of  8225856 >>> 100.0%...

,DATE_NAME,GEOGRAPHY_NAME,GEOGRAPHY_CODE,C_TENHUK11_NAME,C_AGE_NAME,C_HEALTH_NAME,MEASURES_NAME,OBS_VALUE,OBS_STATUS_NAME,RECORD_OFFSET,RECORD_COUNT
0,2011,E00000001,E00000001,Owned: Owned outright,Age 0 to 15,Very good or good health,Value,4,Normal Value,0,8225856
1,2011,E00000001,E00000001,Owned: Owned outright,Age 0 to 15,Fair health,Value,0,Normal Value,1,8225856
2,2011,E00000001,E00000001,Owned: Owned outright,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,2,8225856
3,2011,E00000001,E00000001,Owned: Owned outright,Age 16 to 49,Very good or good health,Value,19,Normal Value,3,8225856
4,2011,E00000001,E00000001,Owned: Owned outright,Age 16 to 49,Fair health,Value,1,Normal Value,4,8225856
5,2011,E00000001,E00000001,Owned: Owned outright,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,5,8225856
6,2011,E00000001,E00000001,Owned: Owned outright,Age 50 to 64,Very good or good health,Value,28,Normal Value,6,8225856
7,2011,E00000001,E00000001,Owned: Owned outright,Age 50 to 64,Fair health,Value,1,Normal Value,7,8225856
8,2011,E00000001,E00000001,Owned: Owned outright,Age 50 to 64,Bad or very bad health,Value,1,Normal Value,8,8225856
9,2011,E00000001,E00000001,Owned: Owned outright,Age 65 and over,Very good or good health,Value,17,Normal Value,9,8225856
10,2011,E00000001,E00000001,Owned: Owned outright,Age 65 and over,Fair health,Value,13,Normal Value,10,8225856
11,2011,E00000001,E00000001,Owned: Owned outright,Age 65 and over,Bad or very bad health,Value,3,Normal Value,11,8225856
12,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Very good or good health,Value,5,Normal Value,12,8225856
13,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Fair health,Value,0,Normal Value,13,8225856
14,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,14,8225856
15,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Very good or good health,Value,15,Normal Value,15,8225856
16,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Fair health,Value,0,Normal Value,16,8225856
17,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,17,8225856
18,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Very good or good health,Value,14,Normal Value,18,8225856
19,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Fair health,Value,3,Normal Value,19,8225856
20,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Bad or very bad health,Value,1,Normal Value,20,8225856
21,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Very good or good health,Value,4,Normal Value,21,8225856
22,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Fair health,Value,2,Normal Value,22,8225856
23,2011,E00000001,E00000001,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Bad or very bad health,Value,1,Normal Value,23,8225856
24,2011,E00000001,E00000001,Rented: Social rented,Age 0 to 15,Very good or good health,Value,5,Normal Value,24,8225856
25,2011,E00000001,E00000001,Rented: Social rented,Age 0 to 15,Fair health,Value,0,Normal Value,25,8225856
26,2011,E00000001,E00000001,Rented: Social rented,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,26,8225856
27,2011,E00000001,E00000001,Rented: Social rented,Age 16 to 49,Very good or good health,Value,6,Normal Value,27,8225856
28,2011,E00000001,E00000001,Rented: Social rented,Age 16 to 49,Fair health,Value,1,Normal Value,28,8225856
29,2011,E00000001,E00000001,Rented: Social rented,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,29,8225856
...,...,...,...,...,...,...,...,...,...,...,...
826,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Very good or good health,Value,6,Normal Value,8225826,8225856
827,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Fair health,Value,3,Normal Value,8225827,8225856
828,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 50 to 64,Bad or very bad health,Value,0,Normal Value,8225828,8225856
829,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Very good or good health,Value,0,Normal Value,8225829,8225856
830,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Fair health,Value,0,Normal Value,8225830,8225856
831,2011,E00176774,E00176774,Owned: Owned with a mortgage or loan or shared...,Age 65 and over,Bad or very bad health,Value,0,Normal Value,8225831,8225856
832,2011,E00176774,E00176774,Rented: Social rented,Age 0 to 15,Very good or good health,Value,5,Normal Value,8225832,8225856
833,2011,E00176774,E00176774,Rented: Social rented,Age 0 to 15,Fair health,Value,0,Normal Value,8225833,8225856
834,2011,E00176774,E00176774,Rented: Social rented,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,8225834,8225856
835,2011,E00176774,E00176774,Rented: Social rented,Age 16 to 49,Very good or good health,Value,11,Normal Value,8225835,8225856
836,2011,E00176774,E00176774,Rented: Social rented,Age 16 to 49,Fair health,Value,3,Normal Value,8225836,8225856
837,2011,E00176774,E00176774,Rented: Social rented,Age 16 to 49,Bad or very bad health,Value,1,Normal Value,8225837,8225856
838,2011,E00176774,E00176774,Rented: Social rented,Age 50 to 64,Very good or good health,Value,5,Normal Value,8225838,8225856
839,2011,E00176774,E00176774,Rented: Social rented,Age 50 to 64,Fair health,Value,3,Normal Value,8225839,8225856
840,2011,E00176774,E00176774,Rented: Social rented,Age 50 to 64,Bad or very bad health,Value,2,Normal Value,8225840,8225856
841,2011,E00176774,E00176774,Rented: Social rented,Age 65 and over,Very good or good health,Value,5,Normal Value,8225841,8225856
842,2011,E00176774,E00176774,Rented: Social rented,Age 65 and over,Fair health,Value,9,Normal Value,8225842,8225856
843,2011,E00176774,E00176774,Rented: Social rented,Age 65 and over,Bad or very bad health,Value,8,Normal Value,8225843,8225856
844,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 0 to 15,Very good or good health,Value,4,Normal Value,8225844,8225856
845,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 0 to 15,Fair health,Value,0,Normal Value,8225845,8225856
846,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 0 to 15,Bad or very bad health,Value,0,Normal Value,8225846,8225856
847,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 16 to 49,Very good or good health,Value,3,Normal Value,8225847,8225856
848,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 16 to 49,Fair health,Value,0,Normal Value,8225848,8225856
849,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 16 to 49,Bad or very bad health,Value,0,Normal Value,8225849,8225856
850,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 50 to 64,Very good or good health,Value,2,Normal Value,8225850,8225856
851,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 50 to 64,Fair health,Value,1,Normal Value,8225851,8225856
852,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 50 to 64,Bad or very bad health,Value,0,Normal Value,8225852,8225856
853,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 65 and over,Very good or good health,Value,1,Normal Value,8225853,8225856
854,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 65 and over,Fair health,Value,1,Normal Value,8225854,8225856
855,2011,E00176774,E00176774,Rented: Private rented or living rent free,Age 65 and over,Bad or very bad health,Value,2,Normal Value,8225855,8225856

In [271]:
print('boo')

boo

In [277]:
final_df_wales.to_csv('final_df_wales.csv', date_format='%Y%m%d')

In [276]:
final_df_england.to_csv('final_df_england.csv', date_format='%Y%m%d')